# .NET
bin/
obj/
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dll
*.exe
*.pdb
TestResults/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.azurePubxml
*.publishproj
*.pubxml
*.publishsettings
orleans.codegen.cs
packages/
artifacts/
AppPackages/
BundleArtifacts/
ServiceFabricBackup/
*.rptproj.bak
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.GhostDoc.xml

# React/Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
build/
dist/
.DS_Store